body,ul,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form {
	margin: 0;
	padding: 0;
}
body,html{
	font-family:"微软雅黑";
}
ul,li {
	list-style: none;
}
i{font-style:normal;}
a{
	text-decoration: none;
}
.layout{width:1004px;margin:0 auto}
img{border:none;vertical-align:middle;}
.clearfix{*zoom:1}
.clearfix:after{content:"";clear:both;display:block;}
/*top*/
.top{
	background:url(../img/top-bg.jpg) repeat-x;
	width:100%;
	height:58px;overflow:hidden;
}
.top-con{
	width: 1004px;
	height: 100%;
	margin: 0 auto;
    line-height: 58px;
	
}
.top-con :after{
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}
.top-con .icon{
	float: left;
}
.icon img{    vertical-align: top;padding-top:4px;
}
.top-con .top-text{
	font-size: 14px;
	float: left;
	color: #fff;
	margin-left: 18px;
}
.top-con .top-text a{
	color: #fff;
}
.top-con .top-text ul :after{
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}
.top-con .top-text ul li{
	float: left;
	margin-right: 10px;
}
.top-con .tel{
	font-size: 20px;
	color: #fff;
	float: right;
}
.banner{
	width: 100%;
	height: 784px;
	background:url(../img/banner.jpg)  no-repeat center;
}
.banner .con{
	width:1004px;
	height: 784px;
	margin: 0 auto;
	background:url(../img/b-con.jpg)  no-repeat center;
}
.gong{
	width: 100%;
	height: 869px;
	background: url(../img/gong.jpg) no-repeat center;
}
.gong .con{
	width: 1004px;
	height: 100%;
	margin: 0 auto;
}
.gong .con .gong-top{
	width: 1004px;
	height: 89px;
}
.gong .con .gong-top img{
	width: 100%;
	height: 100%;
}
.gong .con .gong-bot{
	width: 1004px;
	height: 783px;
	overflow: hidden;
	background:url(../img/gong-con-bot.jpg) no-repeat center;
	position: relative;
}
.gong-bot .p1{
	width: 149px;
	height: 47px;
	color: #f9636f;
	font-size: 19px;
	margin: 0 auto;
	line-height: 47px;
	margin-left:451px;
}
.gong-bot .hint{
	margin-left: 226px;
	margin-top: 37px;
}
.gong-bot .p2,.p3{
	font-size: 16px;
	color: #fc8990;
	position: relative;
}
.gong-bot .p3{
	margin-top: 19px;
}

.flow{
	width: 38px;
	height: 37px;
	background:url(../img/flow.jpg);
	color: #fff;
	position: absolute;
	line-height: 37px;
	text-align: center;
	top: -7px;
	left: -45px;
}
.winner{
	position:absolute;
	top: 184px;
	right: 93px;
}
.winner .head{
	width: 304px;
	height: 60px;
	background: url(../img/w-head.jpg);
	line-height: 60px;
	text-align: center;
	color: #db4b55;
	font-size:25px ;
}
.winner .zg_win_bot{
	border: 1px dashed #f8626d;
	border-top:none ;
	border-bottom: none;
}
.winner ul{
	
}
.winner ul li{
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.winner .foot{
	width: 304px;
	height: 16px;
	background: url(../img/w-foot.jpg);
}
.mask{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	filter:alpha(opacity:30); 
	opacity:0.3;
	display: none;
	z-index: 9;
	left:0;top:0;
}
.person{
	position: fixed;
	width: 410px;
	height: 492px;
	background: url(../img/pop-up.jpg);
	top: 50%;
	left: 50%;
	margin-top: -246px;
	margin-left: -205px;
	display: none;
	z-index:121
}
.person .info1{
	text-align: center;
	font-size: 22px;
	color: #fff;
	height: 62px;
	line-height: 62px;
}
.person .info2{
	font-size: 22px;
	text-align: center;
	color: #000;
	margin-top: 34px;
}
.person .info3{
	font-size: 22px;
	text-align: center;
	color: #000;
	margin-top: 6px;
}
.person .info4{
	font-size: 12px;
	color: #ff6174;
	margin-top: 10px;
}
.person .waring{
	width: 273px;
	margin: 0 auto;
}
.person .info5{
	font-size: 12px;
	color: #ff6174;
	margin-top: 10px;
}
.person .named{
	margin-top: 26px;
	margin-left: 52px;
	font-size: 20px;
	color: #e43b4e;
	font-weight: bolder;
}
.person .tel{
	margin-top: 23px;
	margin-left: 52px;
	font-size: 20px;
	color: #e43b4e;
	font-weight: bolder;
}
.person .lottery{
	width: 261px;
	height: 56px;
	margin: 0 auto;
	margin-top: 28px;
}
.person .named input{
	background: #faf3e9;
	border: none;
	border: 1px dashed #fd5e70;
	width: 253px;
	height: 44px;
}
.person .tel input{
	background: #faf3e9;
	border: none;
	border: 1px dashed #fd5e70;
	width: 253px;
	height: 44px;
}
.person span{
	color: #e43b50;
}
.person .lottery a{
	width: 100%;
	height: 100%;
	display: block;
	background: url(../img/reward.jpg);
}
.close{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/close.png);
	position: absolute;
	top:5px;
	right:3px;
}
.get{
	display: block;
	width:261px ;
	height:57px ;
	background: url(../img/get.jpg);
	margin: 0 auto;
	margin-top: 46px;
}
.reward-name{
	width: 343px;
	height: 90px;
	margin: 0 auto;
	margin-top: 136px;
	padding-top: 39px;
}
.reward-name .p1{
	margin-left: 42px;
	font-size: 22px;
}
.reward-name .p2{
	margin-left: 42px;
	font-size: 18px;
}
.reward1000{
	position: fixed;
	width: 410px;
	height: 492px;
	background:url(../img/reward1000.jpg);
	top: 50%;
	left: 50%;
	margin-top: -246px;
	margin-left: -205px;
	display: none;
	z-index:22
}
.reward500{
	position: fixed;
	width: 410px;
	height: 492px;
	background:url(../img/reward1000.jpg);
	top: 50%;
	left: 50%;
	margin-top: -246px;
	margin-left: -205px;
	display: none;
	z-index:22
}
.reward300{
	position: fixed;
	width: 410px;
	height: 492px;
	background:url(../img/reward1000.jpg);
	top: 50%;
	left: 50%;
	margin-top: -246px;
	margin-left: -205px;
	display: none;
	z-index:22
}
.succeed{
	position: fixed;
	width: 410px;
	height: 492px;
	background:url(../img/succeed.jpg);
	top: 50%;
	left: 50%;
	margin-top: -246px;
	margin-left: -205px;
	display: none;
	z-index:22
}
.succeed .succeed-text{
	font-size: 30px;
	color: #ff6073;
	text-align: center;
	margin-top: 69px;
}
.succeed .instr{
	width: 329px;
	margin: 0 auto;
	margin-top: 65px;
	font-size: 14px;
	line-height: 25px;
}
.test0{
	position: fixed;
	width: 410px;
	height: 492px;
	background:url(../img/test0.jpg);
	top: 50%;
	left: 50%;
	margin-top: -246px;
	margin-left: -205px;
	display: none;
}
.test0 .get{
	background: url(../img/test.jpg);
}
.href{
position: fixed;
width: 640px;
height: 292px;
background:url(../img/use.jpg);
top: 50%;
left: 50%;
margin-top: -196px;
margin-left: -320px;
display: none;
}
.href .p1{
	text-align: center;
	margin-top: 81px;
	font-size: 24px;
	color: #ff5f72;
}
.href .p2{
	text-align: center;
	margin-top: 17px;
	font-size: 18px;
	color: #000;
}
.href .p3{
	position: relative;
	margin-top: 23px;
}
.href .p3 input{
	width: 356px;
	height: 40px;
	border: 1px solid #e5e3e1;
	margin-left: 89px;
	text-align: center;
	font-size: 14px;
}
.href .p3 a{
	position: absolute;
	display: block;
	width: 96px;
	height: 40px;
	background: url(../img/href.jpg);
	top: 0px;
	right: 80px;
}
.copy{
	width: 491px;
	height: 218px;
	background: url(../img/copy.jpg);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -109px;
    margin-left: -245px;
    display: none;
}
.copy .close{
	background: url(../img/copy-close.jpg);
}
.copy .smile{
	width: 54px;
	height: 56px;
	margin: 0 auto;
	margin-top: 50px;
	background: url(../img/smile.jpg);
}
.copy p{
	text-align: center;
	color: #ff5f72;
	font-size: 20px;
}
.href .p3 span{
	position: absolute;
	left: 107px;
	top: 12px;
	font-size: 14px;
	color: #000;
}
.href .p3 input{
	width: 268px;
	height: 40px;
	border: 1px solid #e5e3e1;
	margin-left: 89px;
	font-size: 14px;
	line-height: 40px;
	padding-left: 88px;
}

/*抽奖*/
.zg_draw{width:429px;height:435px;background:url(../img/zg_draw.png) no-repeat center bottom;margin:32px 0 0 68px;text-align:center;padding-left:20px}


.zg_draw p.quickly-shake {
    -webkit-animation: continuouslyShake 0.1s 22 ease-out;
    animation: continuouslyShake 0.1s 22 ease-out;
}

.zg_draw .ui-lot {
	display:block;
    left:25%;
    top: 15%;
    z-index: 999;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
	position:absolute
}

.zg_draw .ui-lot.rotate-in {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: rotateIn 1s 1 linear ;
    animation: rotateIn 1s 1 linear ;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
	
}


/* lightShake */

@-webkit-keyframes lightShake {
    0% {
        -webkit-transform: scale(1);
    }
    10%,20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
    }
    30%,50%,70%,90% {
        -webkit-transform: scale(1.1) rotate(3deg);
    }
    40%,60%,80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
    }
    100% {
        -webkit-transform: scale(1) rotate(0);
    }
}

@-moz-keyframes lightShake {
    0% {
        -moz-transform: scale(1);
    }
    10%,20% {
        -moz-transform: scale(0.9) rotate(-3deg);
    }
    30%,50%,70%,90% {
        -moz-transform: scale(1.1) rotate(3deg);
    }
    40%,60%,80% {
        -moz-transform: scale(1.1) rotate(-3deg);
    }
    100% {
        -moz-transform: scale(1) rotate(0);
    }
}

@-ms-keyframes lightShake {
    0% {
        -ms-transform: scale(1);
    }
    10%,20% {
        -ms-transform: scale(0.9) rotate(-3deg);
    }
    30%,50%,70%,90% {
        -ms-transform: scale(1.1) rotate(3deg);
    }
    40%,60%,80% {
        -ms-transform: scale(1.1) rotate(-3deg);
    }
    100% {
        -ms-transform: scale(1) rotate(0);
    }
}

@keyframes lightShake {
    0% {
        transform: scale(1);
    }
    10%,20% {
        transform: scale(0.9) rotate(-3deg);
    }
    30%,50%,70%,90% {
        transform: scale(1.1) rotate(3deg);
    }
    40%,60%,80% {
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}


/* continuouslyShake */

@-webkit-keyframes continuouslyShake {
    0% {
        -webkit-transform: scale(1.2) rotate(0);
    }
    25% {
        -webkit-transform: scale(1.2) rotate(-6deg);
    }
    75% {
        -webkit-transform: scale(1.2) rotate(6deg);
    }
    100% {
        -webkit-transform: scale(1.2) rotate(0);
    }
}

@keyframes continuouslyShake {
    0% {
        transform: scale(1.2) rotate(0);
    }
    25% {
        transform: scale(1.2) rotate(-6deg);
    }
    75% {
        transform: scale(1.2) rotate(6deg);
    }
    100% {
        transform: scale(1.2) rotate(0);
    }
}
@-webkit-keyframes rotateIn {
   0% {opacity: 1;
        -webkit-transform:scale(0) rotate(-360deg)
    }
    50% {opacity: 1;
        -webkit-transform:scale(1.5) rotate(-180deg)
    }
    80% {opacity: 1;
        -webkit-transform:scale(2) rotate(0);
		display:none;
    }
	100% {opacity: 0;
        -webkit-transform:scale(2) rotate(0);
		display:none;
    }
}

@keyframes rotateIn {
    0% {opacity: 1;
        -webkit-transform:scale(0) rotate(-360deg)
    }
    50% {opacity: 1;
        -webkit-transform:scale(1.5) rotate(-180deg)
    }
    80% {opacity: 1;
        -webkit-transform:scale(2) rotate(0);
		display:none;
    }
	100% {opacity: 0;
        -webkit-transform:scale(2) rotate(0);
		display:none;
    }
}
/*活动*/
.zg_hd_bg{background:url(../img/zg_hd02.jpg) no-repeat center center;height:695px;}
.zg_mtit{background:url(../img/zg_draw05.png) no-repeat center top;height:108px;text-align:center;padding-top:75px;padding-left:80px; }
.zg_hd_bot{background:url(../img/zg_hd01.jpg) no-repeat center top;height:325px;padding:160px 0 0 35px;}

.zg_hd_bot a{margin:0 14px;}
/*联系我们*/
.zg_contact_bg{background:url(../img/zg_hd07.jpg) no-repeat center top;padding-bottom:80px;}
.zg_contact_bot{border:8px solid #fff;background:url(../img/zg_hd08.jpg); position:relative;box-shadow:0px 2px 15px 2px #f1d3d0}
.zg_contact_tit{padding:24px 0 0 9px;position:relative;z-index:20}
.zg_contact_tit li{display:inline-block;width:90px;height:34px;text-align:center;font:16px/34px "Microsoft YaHei";background:#fffffa;border-radius:8px;margin:11px 7px;cursor:pointer;}
.zg_contact_tit li.hover{background:#f96470;color:#fff;font-weight:bold;}

.zg_contact_cent{ position:relative;z-index:20;display:none;}
.zg_contact_cent li{width:428px;padding:10px 25px 10px 20px;float:left;color:#333;line-height:24px;}
.zg_contact_cent li strong{display:block;}
.zg_contact_pic{ position:absolute;right:0;bottom:0;}


/* footer  */
.zg_footer{text-align:center;color:#333;padding:54px 0;font:14px/30px "微软雅黑";border-top:2px solid #f2dacf;}
.zg_footer i{font-style:normal;}

.zg_fwin{ position:fixed;right:0;top:100px;height:438px;width:150px;background:url(../img/zg_hd10.png) no-repeat;}

.zg_fwin h4{height:99px;font:26px/80px "微软雅黑";text-align:center;color:#fff;}
.zg_fwin ul{text-align:center}
.zg_fwin ul li{border-bottom:1px solid #ffb1b6;padding:12px 0 6px;font:14px/32px "微软雅黑";color:#fff;}
.zg_fwin ul li a{font:14px/32px "微软雅黑";color:#fff;}
.zg_fwin ul li a:hover{text-decoration:underline;color:#41110f;}
.zg_fwin  p{font:14px/50px "微软雅黑";color:#fff;text-align:center;display:block;cursor:pointer;}